<div *ngIf="selectedClient">
  <h2>
    {{selectedClient.firstName }} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Clients</h2>
<table class="clients">
  <tr><th>ID</th><th>first</th><th>last</th><th>address</th></tr>
  <tr *ngFor="let client of clients "
      [class.selected]="client === selectedClient"
      (click)="onSelect(client)" >
    <td>{{client.id}}</td>
    <td>{{client.firstName}}</td>
    <td>{{client.lastName}}</td>
    <td>{{client.address}}</td>
    <td> <button
      [class.delete]="true"
      (click)="deleteClient(client);$event.stopPropagation()">delete
    </button></td>
  </tr>
</table>
